@import "./reset.css";

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #0bb3e4;
    --app-blue-hover: #068ab3;
    --app-span-colour: #0363ff;
   }

html {

}
body {
    background-color: var(--app-dark-bg);
}

.header-wrapper {

    height: 100vh;
    background-image: url(../img/2022October25_dsc03014.jpg);
    background-size: 100%;
    background-position: 97% 3%;
}

.overlay {
    height: 100vh;
    background: rgb(20 24 28 / .75);
    width: 100%;
}


/* ---------------------------------------------------- */
/* Header
/* ---------------------------------------------------- */
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

header {
    height: 56px;
}

.flexbox {
    display: flex;
}

.title {
    width: 20%;
    height: 40px;
}

.title h1 {
    font-size: 32px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 56px;
    letter-spacing: 0.2px;
}
.title h1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px #000;
}

.span-title {
    font-weight: 900;
    color: rgb(255, 255, 255);
}

nav {
    width: 62%;
    text-align: right;
    }

nav ul {
    list-style: none;
}

nav ul li{ 
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

nav ul li a:hover {
    color: #add8e6;
}

nav ul li + li {
    margin-left: 18px;
}

.hamburger{
    text-align: right;
}

.topnav{
    display: none;
    text-align: center;
    padding: 5px 15px;
}

.topnav ul li {
    margin-bottom: 8gipx;
}

.topnav ul li a{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    text-align: left;
}

/* .topnav-icons {
    display: grid;
} */

.topnav-icons a i {
    font-size: 18px;
}

.nav-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 18%;
}

.nav-icon a {
    font-size: 18px;
}

.fa-brands {
    overflow: hidden;
    margin: 5px;
    padding: 9px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.fa-bars {
    font-size: 20px;
    visibility: hidden;
    color: #fff;
    position: relative;
}

.about-me-text{
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

.text-and-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    height: 100%;
    width: 100%;
    padding-bottom: 15vh;
}
.landing-text {
    width: 50%;
}

/* ---------------------------------------------------- */
/* About me
/* ---------------------------------------------------- */

.about {
    display: flex;
    align-items: center;
    padding: 60px 0;
    height: 100vh;
}

.about-wrapper{
    width: 60%;
}


.name {
    width: 40%;
    line-height: 60px;
    font-size: 50px;
    color: #fff;
}

p {
    font-size: 20px;
    font-weight: 400;
    width: 80%;
    padding-top: 6px;
    color: #fff;
}

.fa-minus{
    font-size: 32px;
    padding: 20px 0 30px 0;
    font-weight: 100;
    color: var(--app-orange)
}

button {
    background-color:var(--app-blue);
	border-radius: 40px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
    padding: 13px 35px;
    text-align: center;
	text-decoration:none;
    transition: all .5s ease-in-out;
	text-shadow:0px 1px 0px #2f6627;
}

button:hover{
    background-color: var(--app-blue-hover);
}

img {
    margin-top: 5px;
    border-radius: 20px;
    width: 340px;
}

/* ---------------------------------------------------- */
/* Contact Page
/* ---------------------------------------------------- */

.contact-wrapper {
    background-color: #ebeef3;
    padding: 60px 0;
}

.contact-info p {
    text-align: left;
}

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    width: 60%;
    height: 30vh;
}

.column {
    flex-grow: 1;
    width: calc(50% - 10px);
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 0.1);
    text-align: center;
    padding: 20px 20px 10px 20px;
    background-color: var(--app-dark-bg);
}

h2{
    text-align: left;
    line-height: 50px;
    font-size: 32px;
    color: #fff;
}

h3 {
  font-weight: 400;
  text-align: left;  
  color: var(--app-span-colour);
}

h3:hover{
    cursor: pointer;
    text-decoration: underline;
}

.contact-info {
    height: 100px;
}

.contact-icons {
    margin-top: -50px;
}

.fa-phone, .fa-envelope {
    font-size: 40px;
    background-color: var(--app-blue);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.fa-phone:hover{
    cursor: pointer;
    background-color: var(--app-blue-hover);
    translate: 0 -5px;
}

.fa-envelope:hover{
    cursor: pointer;
    background-color: var(--app-blue-hover);
    translate: 0 -5px;
}



/* ---------------------------------------------------- */
/* Footer
/* ---------------------------------------------------- */

footer {
    background-color: var(--app-dark-bg);
    display: flex;
    justify-content: center;
    padding: 50px 0
}

.footer-nav{
    width: 100%;
}

.footer-nav a {
    color: rgb(255, 255, 255);
}

.social-media{
    text-align: center;
}


.copyright{
    text-align: center;
}

.footer-icon{
    font-size: 24px;
}

h4{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}



/* ---------------------------------------------------- */
/* Icons
/* ---------------------------------------------------- */

.fa-linkedin {
    color: #0072b1;
}

.fa-twitter {
    color: #00acee;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-facebook {
    color: #3b5998;
}

.about-me-text {
    animation: my-name .8s ease-in;
    animation-delay: .2s;
}

@keyframes my-name {
from {
    opacity: 0;
    transform: translatey(20px)
}
to {
    opacity: 1;
    transform: translateY(0px);
}
}

.more-btn-box {
position: absolute;
bottom: 125px;
animation: my-name .8s ease-in;
animation-delay: .2s;
}

@keyframes about-me-btn {
from {
opacity: 0;
transform: translatey(20px)
}
to {
opacity: 1;
transform: translateY(0px);
}
}

/* ---------------------------------------------------- */
/* Media Queries
/* ---------------------------------------------------- */


@media (max-width: 983px){
    .header-nav, .nav-icon{
        width: 0%;
            visibility: hidden;
    }
    .fa-bars {
        font-size: 24px;
        visibility: visible;
    }
    .mobile-nav{
        width: 50%;
        display: grid;
        justify-content: right;
    }
 
    .title{
        width: 50%;
    }
    .hamburger i {
        font-size: 28px;
        line-height: 56px;
    }
    .name {
        font-size: 42px;
        line-height: 44px;
    }

    .contact-info p {
        font-size: 16px;
    }
}

@media (max-width: 787px) {
    .landing-text{
        width: 70%;
    }
    .contact-wrapper{
        height: 75vh;
    }
    .column {
        width: 100%;
        height: 100%;
    }
    .name {
        font-size: 34px;
        line-height: 36px;
    }
   
}

@media (max-width: 708px) {
    .column {
        width: 100%;
    }
    .name {
        font-size: 28px;
        line-height: 36px;
    }
   
}


@media (max-width: 603px) {
    .about-me-text{
        font-size: 26px;
    }
    nav ul li a {
        font-size: 17px;
    }
    .column {
        width: 100%;
    }
    .name {
        width: 60%;
        font-size: 26px;
        line-height: 25px;
    }
   
}

@media (max-width: 526px) {
    .landing-text{
        width: 80%;
    }
    nav ul li a {
        font-size: 14px;
    }
    .topnav ul li {
        margin-bottom: 2px;
    }

}

@media (max-width: 480px) {

    .header-nav{
        display: none;
    }

    .name {
        line-height: 24px;
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
    .mobile-nav{
        width: 50%;
        display: grid;
        justify-content: right;
    }
 
    .title{
        width: 50%;
    }

}

@media (max-width: 450px) {
    .about {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
    }
    p{
        width: 100%;
    }
    .about-wrapper {
        width: 100%;
    }
    .image-of-me{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        padding: 20px 0;
        width: 350px;
    }
    nav ul li a {
        font-size: 12px;
    }
    .nav-icon {
        width: 10%;
    }

    .name {
        text-align: center;
        width: 100%;
        font-size: 26px;
        line-height: 24px;
    }

}

@media (max-width: 428px) {
    .landing-text{
        width: 80%;
    }
    .about-me-text{
        font-size: 24px
    }

    nav ul li a {
        font-size: 10px;
    }

    .title h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }

    img {
        width: 330px;
    }
}


@media (max-width: 380px) {
    .title h1 {
        font-size: 28px;
    }
    .footer-nav ul li a {
        font-size: 14px;
    }

    .header-nav{
        display: none;
    }

    img {
        width: 270px;
    }
}

@media (max-width: 340px) {
    .landing-page-bg{
        height: 50vh;
    }
    .mobile-nav{
        width: 60%;
    }
 
    .title{
        width: 40%;
    }
    .name {
        width: 100%;
        font-size: 24px;
    }
    img {
        width: 250px;
    }
}

