@import "./reset.css";

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #0bb3e4;
    --app-blue-hover: #364ee6;
   }

   body {
    background: rgb(20 24 28 / .75);
}

.landing-page-bg {
    height: 80vh;
    background-color: #ebeef3;
    width: 100%;
}

/* ---------------------------------------------------- */
/* Header
/* ---------------------------------------------------- */
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

header {
    height: 56px;
    overflow: hidden;
}

.flexbox {
    display: flex;
}

.title {
    width: 20%;
    height: 40px;
}

.title h1 {
    font-size: 32px;
    font-weight: 400;
    color: rgb(47, 47, 47);
    line-height: 56px;
    letter-spacing: 0.2px;
}
span {
    font-weight: 900;
}

nav {
    width: 62%;
    text-align: right;
    }

nav ul {
    list-style: none;
}

nav ul li{ 
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline #add8e6;
}

nav ul li + li {
    margin-left: 18px;
}

.nav-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 18%;
}

.fa-brands {
    margin: 5px;
    padding: 9px;
    border: 2px solid rgba(56, 55, 55, 0.1);
    border-radius: 50%;
    color: rgb(0, 0, 0);
}


/* ---------------------------------------------------- */
/* About me
/* ---------------------------------------------------- */

.about {
    display: flex;
    align-items: center;
}

.about-wrapper{
    width: 60%;
}


 h2 {
    width: 40%;
    line-height: 60px;
    font-size: 52px;
}

p {
    font-size: 15px;
    font-weight: 400;
    width: 80%;
}

.fa-minus{
    font-size: 32px;
    padding: 20px 0 30px 0;
    font-weight: 100;
    color: var(--app-orange)
}

button {
    background-color:var(--app-blue);
	border-radius: 40px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
    padding: 13px 35px;
    text-align: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

img {
    margin-top: 5px;
    border-radius: 20px;
    width: 340px;
}